@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body{
    font-family: 'Fredericka the Great', cursive;
}


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

#hiddenInput {
    position: absolute;
    opacity: 0.4;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.contem {
    margin-left: 25%;
}

#input {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    background: #fff;
    color: #900;
    float: left;
}
#groupp {
    float: left;
}

#tt{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
}

.letterContainer {
    display: inline;
    white-space: nowrap;
}

.letterStatic {
    display: inline;
}

.letterAnimTop {
    display: inline;
    position: absolute;
    -webkit-animation: dropTop .1s ease;
    -moz-animation: dropTop .1s ease;

}

.letterAnimBottom {
    display: inline;
    position: absolute;
    -webkit-animation: dropBottom .1s ease;
    -moz-animation: dropBottom .1s ease;
}

.blink {
    position: static;
    top: -5px;
    -webkit-animation: blink 0.3s ease 0 infinite alternate;
    -moz-animation: blink 0.3s ease 0 infinite alternate;
}

@-moz-keyframes blink {
    from { opacity: 0 }
    to { opactiy: 1 }
}

@-webkit-keyframes blink {
    from { opacity: 0 }
    to { opactiy: 1 }
}

@-moz-keyframes dropTop {
    from {
        -moz-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
        transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
    }

    to {
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
    }
}

@-moz-keyframes dropBottom {
    from {
        -moz-transform: translateY(20px) translateZ(20px) rotateX(-90deg);
        transform: translateY(20px) translateZ(20px) rotateX(-90deg);
    }

    to {
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@-webkit-keyframes dropTop {
    from { -webkit-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg); }
    to { -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg); }
}

@-webkit-keyframes dropBottom {
    from { -webkit-transform: translateY(20px) translateZ(20px) rotateX(-90deg); }
    to { -webkit-transform: rotateX(0deg); }
}

@import url('https://fonts.googleapis.com/css?family=Vidaloka');
.informacao{
    font-family: 'Vidaloka', serif;
}