 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.brand-logo >img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
}
/* PARALLAX */
.prof-user {
    height: 270px!important;
}
.parallax >img {
	/* opacity: .5; 
	- Para hacer la imagen, como marca de agua 
	*/ 
}
/* Menu - profile */
.bg-card-user {
	background: rgba(199,199,199,.4);
	padding: 15px 0;
}
.truncate >img {
	width: 320px;
}
/* Promoción */
.promo i {
    margin: 10px 0;
    color: #FFF;
    font-size: 7rem;
    display: block;
}
.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}
.promo .light {
	padding: 2px 10px;
}
/* FOOTER */
footer .foot-text {
	margin-top: 10px;
}
